<!DOCTYPE html>
<html>

	<head>

		<title>
			Planificator | Connexion
		</title>
		
	</head>

	<body>

		<h2>
			Mon compte
		</h2>
		
		<br/>
		
		<form method="POST" action="/connect">
		
			<p> Connexion : </p>
			<p> Pseudo : <input type="text" name="login" placeholder=""/> </p>
			<p> Mot de passe : <input type="password" name="password" placeholder=""/> </p>
			<br/>
			<p>
				<input type="submit" value="Se connecter"/>
				<input type="reset" value="Annuler"/>
				<a href="/">
					<input type="button" value="Retour"/>
				<a/>
			</p>
			
		</form>

	</body>

</html>