<!DOCTYPE html>
<html>

	<head>

		<title>
		
			Planificator | Accueil
			
		</title>
		
		<link rel="icon" type="image/png" href="./images/planificatorIcon.png"/>
		
	</head>

	<body>

		<h2>
			Accueil
		</h2>
		
		<br/>
		
		<p>
			<!-- <img src="./images/planificatorIcon.png" alt="Planificator"> -->
			
			<br/>
			
			Planificator :
		</p>
		<p>
			C'est un outil permettant de planifier des listes de taches.
			
			<br/>
			
			Cette liste de taches peut être exécuter en local ou sur des ordinateurs distants de façon synchrone ou asynshrone.
			
		</p>
		
		<br/>
		
		<p>
			<a href="/connect"> Mon compte </a>
		</p>
		<p>
			<a href="/createAccount"> Créer un compte </a>
		</p>
		
		<br/>
		
		<p>
			<a href=""> Télécharger </a>
		</p>

	</body>

</html>